<%= form_with(model: post, local: true, multipart: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form_groups">
    <div class="form-group">
      <%= form.label :image %>
      <%= form.file_field :image, class: "form-control" %>
    </div>

    <div class="form-group">
      <p class="mb-1">Text color</p>
      <div class="form-check form-check-inline">
       <label class="radio-check-inline"><%= form.radio_button :text_color, "black" %>Black</label>
      </div>
      <div class="form-check form-check-inline">
       <label class="radio-check-inline"><%= form.radio_button :text_color, "white" %>White</label>
      </div>
      
    </div>

    <div class="form-group">
      <%= form.label :upper_text %>
      <%= form.text_area :upper_text, class: "form-control", cols: "3"  %>
    </div>

    <div class="form-group">
      <%= form.label :lower_text %>
      <%= form.text_area :lower_text, class: "form-control", cols: "3"  %>
    </div>
    
    <%= form.submit value: "Generate Meme", class: "submit_button" %>
  </div>
<% end %>
