<%= form_with(model: post, local: true, multipart: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form_groups">
      
    <div class="ui form large">
      <div class="field">
       <%= form.label :image %>
       <%= form.file_field :image, class: "form-control" %>
      </div>
    </div>

    <div class="ui form large">
      <div class="inline fields">
        <%= form.label :text_color %>
        <div class="field">
          <div class="ui radio checkbox">
            <%= form.radio_button :text_color, "black" %>
            <label>Black</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <%= form.radio_button :text_color, "white" %>
            <label>White</label>
          </div>
        </div>
      </div>
    </div>

    <div class="ui form large">
      <div class="field">
        <%= form.label :upper_text %>
        <%= form.text_area :upper_text, class: "form-control", rows: "2"  %>
      </div>
      <div class="field">
        <%= form.label :lower_text %>
       <%= form.text_area :lower_text, class: "form-control", rows: "2" %>
      </div>
    </div>
    
    <%= form.submit "Generate Meme", class: "submit_button" %>
  </div>
<% end %>
