<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <div class="wrapper">
      <div class="ui container">
        <h1 class="ui icon header aligned">
          <i class="settings icon"></i>
          <div class="content">
            Meme Generator
            <div class="sub header">The simplest Meme Generator. Just add some text on your image.</div>
          </div>
        </h1>
        <%= yield %>
      </div>
   </div>
  </body>
</html>
